
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit here</title>
</head>
<body>
    <div class="main ">
    <form action="/bookedit" method="post">
        {% csrf_token %}
        {% for ad in data %}
        <input type="hidden" name="id" value="{{ad.id}}">
        <input type="text" placeholder="Enter name" name="bname" value="{{ad.bname}}">
        <input type="text" placeholder="about" name="about" value="{{ad.about}}" required>
        <input type="text" placeholder="Enter price" name="price" value="{{ad.price}}">
        <input type="text" placeholder="Enter author name" name="author" value="{{ad.author}}">
        <input type="number" placeholder="Enter the quantity" name="quantity" value="{{ad.quantity}}">
        <input type="submit">
        {% endfor %}

    </form>
</div>
</body>
<style>

    .body{
        border-style: 1px solid;
    }
</style>
</html>
